body {
  background-image: url(les.png);
  background-size: 500px;
  background-repeat: no-repeat;
  
}

@font-face {
  font-family: 'Sangha'; /* Название вашего шрифта */
  src: url('fonts/sangha.ttf') format('truetype'); /* Путь к вашему файлу шрифта и его формат */
}

#balance_display {
  color: rgb(0, 0, 0);
  font-size: 37px;
  text-align: center;
  margin-left: 200px;
  position: relative;
  top: -750px;
  font-family: 'Sangha', sans-serif; /* Используем ваш шрифт */
}


button {
  color: black;
  font-size: 40px;
  margin: 0 auto;
  display: block;
  background-image: url(dumplings.png);
}

#capybara_main {
  margin-left: 40%;
  position: relative;
  top: -120px;
}

#dumplings_click_main {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transform: scale(0.2);
  margin-left: -30%;
  margin-top: -22%; /* Изменили значение отступа вверх на 20% */
}

#capybara_main {
  width: 50%; /* Пример использования процентов */
  height: auto;
}




